{% for di in "bcdefghijklmnopqrstuvwxyz"[:disk_count] %}
sd=sd{{loop.index}},lun=/dev/sd{{di}},size={{disk_size_gb}}g
{% endfor %}
wd=wd1,sd=sd*,xfersize={{xfersize}}k,rdpct={{rdpct}},seekpct={{seekpct}},openflags=o_direct
rd=run1,wd=wd1,iorate=max,elapsed={{elapsed}},interval={{interval}},threads={{threads}}


